<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
      body{
          width: 900px;
          margin: 0 auto;
          background: darkgray;
      }

      .containerCenter{
          width: 300px;
          height: 300px;
          margin: 0 auto;
          padding: 0px;
          background: slategrey;
          margin-top: 200px;
      }

      .containerSubLeft{
          /*width: 250px;*/
          /*margin: 0 auto;*/
          height: 250px;
          background: grey;
          margin-top: 225px;
      }

      .containerSubRight{
          /*width: 250px;*/
          /*margin: 0 auto;*/
          height: 250px;
          background: grey;
          margin-top: 225px;
      }

      .percentageCenter{
          border-radius: 5px;
          background: springgreen;
          width: 90px;
          height: 30px;
          float: bottom;
          display: inline-block;
          position: relative;
          vertical-align: center;
      }

      .percentageSubRight{
          border-radius: 5px;
          background: orange;
          width: 60px;
          height: 20px;
          float: bottom;
          float: right;
          position: relative;
          top: 240px;
          right: 10px;
      }

      .img_center{
        justify-content: center;
        display: inline-block;
      }

      
      
    </style>
</head>
<body>

<div class="row">
<!-- 

    <div class="containerSubLeft col-sm-4">
            <div class="percentageSubRight">
        </div> 
    </div>  -->


    <div class="containerCenter col-sm-4">
      <div class="img_center">
        <%= image_tag @face[0].image.url, size: "300x300"%>
      </div>
        <div class="percentageCenter">
        <%= @percentage[0]%>
        </div>
    </div>
<!-- 
    <div class="containerSubRight col-sm-4">
        <div class="percentageSubRight">         
        </div>            
    </div>  -->

</div>
</body>
</html>

